# Backend build
server/server/target/

# Frontend dependencies
src/node_modules/
client/node_modules/
node_modules/
src/dist/
client/dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.settings/
.classpath
.project
.factorypath
.metadata/
server/.metadata/

# Eclipse
*.launch