.common_page { padding-block: 96px 22px; position: relative; flex-grow: 1;
  &::after { position: absolute; content: ''; left: 0; top: 0; height: 96px; width: 100%; background: #1A1E43F0; }
  .destination_title {
    position: relative;

    h2 {
      font-size: 2rem;
      text-align: center;
      font-weight: 600;
      color: #ff5033;
      font-style: italic;
      letter-spacing: 0.1rem;

      @media (max-width: 768px) {
        font-size: 1rem;
      }

      &:before {
        width: 28px;
        height: 5px;
        display: block;
        content: "";
        position: absolute;
        bottom: 16px;
        left: 50%;
        margin-left: -30px;
        background-color: #ff5033;
      }

      &:after {
        width: 100px;
        height: 1px;
        display: block;
        content: "";
        position: relative;
        margin-top: 25px;
        left: 50%;
        margin-left: -67px;
        background-color: #ff5033;
        bottom: 18px;
      }
    }
  }

  .filter_top { position: relative; z-index: 12; background: white; padding-block: 12px; box-shadow: 0px 12px 14.8px -5px rgba(0, 0, 0, 0.25); }

  .filter_wrapper {    
    .custom_form {  
      .form_block { flex-grow: 1; 
        .filter_group { display: flex; gap: 1rem; justify-content: center; flex-wrap: wrap; }
        .input_block { flex: 1; max-width: 300px;
         &>button { width: 100%; }
          .age_body { background: white; box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); }
        }
        .form_inner_block { position: relative;
          &:not(:last-child) { margin-bottom: 2rem; 
            &::after { position: absolute; content: ''; bottom: -1rem; left: 0; width: 100%; height: 1px; background: #676D9D; }
          }
        }
      }
    }

    .search_btn { text-align: center; min-width: 150px; padding: 6px 20px; background: #26AE5D; color: white; font-size: 1rem; line-height: 1.2; display: flex; align-items: center; justify-content: space-between; gap: 6px; border-radius: 2rem; cursor: pointer;
      span          { flex-grow: 1; text-align: center; font-weight: 600; }
      .search_icon  { width: 24px; aspect-ratio: 1; background: white; border-radius: 50%; display: flex; align-items: center; justify-content: center; flex-shrink: 0; 
        svg { color: #26AE5D; max-width: 60%; }
      }
    }

  }

  .hotel_photos { padding-block: 2rem;
    .photo_wrapper { display: flex; gap: 1rem; 
      .w_50 { width: calc(50% - 1rem); 
        .photo_block { overflow: hidden; border-radius: 8px;
          img { transition: all 0.4s; 
            &:hover { transform: scale(1.2); }
          }
        } 
        .photo_block_wrapper { display: flex; gap: 1rem; flex-wrap: wrap; height: 100%;
          .photo_block { width: calc(50% - 1rem);   
          }
         }
      }
    }
  }

  .hotel_details { 
    .hotel_container { padding: 1rem; border: 1px solid #C1C5E3; background: white; border-radius: 6px; 
      .list_head { display: flex; gap: 10px; flex-wrap: wrap; border-bottom: 2px solid #E0E0E0;
        li {
          p { padding: 6px 12px; position: relative; 
            &::after { content: ''; position: absolute; left: 0; bottom: -2px; height: 2px; background: #2F80ED; width: 0%; transition: all 0.4s; }
          }
          &.active {
            p{
              &::after { width: 100%; }
            }
          }
        }
      }
      .hotel_content { padding-block: 1rem;
        .hotel_head_content { display: flex; justify-content: space-between; align-items: flex-start;
          .hotel_name {
            h3 { margin-bottom: 0.75rem; font-size: 24px; line-height: 32px; font-weight: 600; color: black; }
            .hotel_ratings { margin-bottom: 8px; display: flex; align-items: center; gap: 4px; 
              li {
                svg { max-width: 14px; color: #F2994A; }
              }
            }
            .map_link { display: flex; flex-wrap: wrap; gap: 6px; 
              a { color: #2F80ED; font-weight: 600; 
                &:hover { text-decoration: underline; }
              }
            }
          }
          .book_btn { padding: 8px 22px; border: 1px solid #2F80ED; background: #2F80ED; color: white; font-size: 16px; line-height: 24px; transition: all 0.4s; border-radius: 6px;
            &:hover { background: transparent; color: #2F80ED; }
          }
        }
        .facilities { margin-top: 1rem; }
        .facility_block {
          h3 { margin-bottom: 10px; font-size: 20px; line-height: 28px; font-weight: 600; }
          p { color: black; font-size: 16px; line-height: 24px; margin: 0; }
        }
      }
    }
  }
  
} 

.list_wrapper { margin-inline: auto; padding-inline: 12px; width: 100%;}
@media screen and (min-width: 1400px) {
  .list_wrapper { max-width: 1320px; }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .list_wrapper { max-width: 1140px; }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .list_wrapper { max-width: 960px; }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .list_wrapper { max-width: 720px; }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .list_wrapper { max-width: 540px; }
}

@media screen and (max-width: 575px) {
  .list_wrapper { max-width: 100%; }
}

 